<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration SYSTEM "WorkloadGen-Conf.dtd" >
<configuration>
	<property>
		<name>workloadgen.input.user_prefix</name>
		<value>../../</value>
	</property>
	<property>
		<name>workloadgen.jobtracker.addr</name>
		<value>localhost:50002</value>
	</property>
	<property>
		<name>workloadgen.system.multiqueue</name>
		<value>true</value>
	</property>
</configuration>
